In [268]:
import pandas as pd
import numpy as np

df = pd.read_csv('women_open_21.1.csv')
df.head()

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.

In [269]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108600 entries, 0 to 108599
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         108600 non-null  int64
 1   first_name         108599 non-null  object
 2   lastname           108597 non-null  object
 3   Placing            108600 non-null  int64
 4   country            108600 non-null  object
 5   continent          108600 non-null  object
 6   Age                108600 non-null  object
 7   affiliate          93538 non-null   object
 8   Height and Weight  50325 non-null   object
 9   points             108600 non-null  int64
 10  21.1               108600 non-null  object
 11  21.1 time          8349 non-null    object
 12  21.2               108600 non-null  object
 13  21.2 time          50690 non-null   object
 14  21.3               108600 non-null  object
 15  21.3 time          8209 non-null    object
 16  21.4               108600 non-null  object
 17  weight             80318 non-null   object
dtypes: int64(3), object(15)
memory usage: 14.9+ MB

# Data Preprocessing

First we need to drop 'Unnamed: 0' column because it's doesn't make any sense :)

In [270]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [271]:
df.head()

,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.

Now we need to do some work with the 'first_name' and the 'lastname' columns. Let's combine them to one 'full_name' column and convert its case to titlecase

In [272]:
df['full_name'] = df['first_name'] + ' ' + df['lastname']
df['full_name'] = df['full_name'].str.title()

df.drop(['first_name', 'lastname'], axis = 1, inplace = True)

In [273]:
df.head()

,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name
0,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey
1,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary
2,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders
3,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell
4,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien

In [274]:
print('NaN count in the full_name attribute:', df['full_name'].isnull().sum())
df.drop(df['full_name'].index[df['full_name'].isnull()], axis = 0, inplace = True)

NaN count in the full_name attribute: 4

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Placing            108596 non-null  int64
 1   country            108596 non-null  object
 2   continent          108596 non-null  object
 3   Age                108596 non-null  object
 4   affiliate          93534 non-null   object
 5   Height and Weight  50324 non-null   object
 6   points             108596 non-null  int64
 7   21.1               108596 non-null  object
 8   21.1 time          8347 non-null    object
 9   21.2               108596 non-null  object
 10  21.2 time          50688 non-null   object
 11  21.3               108596 non-null  object
 12  21.3 time          8208 non-null    object
 13  21.4               108596 non-null  object
 14  weight             80314 non-null   object
 15  full_name          108596 non-null  object
dtypes: int64(2), object(14)
memory usage: 14.1+ MB

Now we need to rename some columns :)

In [276]:
df = df.rename(columns={'Placing' : 'place', 'Age' : 'age', 'Height and Weight' : 'height_weight'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   place          108596 non-null  int64
 1   country        108596 non-null  object
 2   continent      108596 non-null  object
 3   age            108596 non-null  object
 4   affiliate      93534 non-null   object
 5   height_weight  50324 non-null   object
 6   points         108596 non-null  int64
 7   21.1           108596 non-null  object
 8   21.1 time      8347 non-null    object
 9   21.2           108596 non-null  object
 10  21.2 time      50688 non-null   object
 11  21.3           108596 non-null  object
 12  21.3 time      8208 non-null    object
 13  21.4           108596 non-null  object
 14  weight         80314 non-null   object
 15  full_name      108596 non-null  object
dtypes: int64(2), object(14)
memory usage: 14.1+ MB

Let's check values of the country and the continent attributes

In [277]:
print(df.country.unique())
print()
print(df.continent.unique())

['Australia' 'United States' 'Ireland' 'Spain' 'Norway' 'Poland' 'Iceland'
 'Canada' 'Brazil' 'Argentina' 'Mexico' 'New Zealand' 'Slovakia' 'Sweden'
 'Belgium' 'Korea, Republic of' 'Italy' 'Hungary' 'France' 'Japan'
 'Russian Federation' 'United Kingdom' 'Venezuela' 'Finland' 'Colombia'
 'South Africa' 'Netherlands' 'Paraguay' 'Switzerland' 'Germany'
 'Czech Republic' 'Greece' 'Denmark' 'China' 'Peru' 'Chile' 'Portugal'
 'Malta' 'Romania' 'Latvia' 'Ukraine' 'Bulgaria' 'Israel' 'Nicaragua'
 'Zimbabwe' 'Austria' 'Turkey' 'Kazakhstan' 'United Arab Emirates'
 'Honduras' 'Uruguay' 'Costa Rica' 'Egypt' 'Bosnia and Herzegovina'
 'Estonia' 'Thailand' 'Bolivia' 'Belarus' 'Croatia' 'Cyprus' 'Jordan'
 'Ecuador' 'Guatemala' 'Namibia' 'Lithuania' 'Palestinian Territory'
 'Panama' 'El Salvador' 'Kuwait' 'Suriname' 'Brunei Darussalam' 'Serbia'
 'Singapore' 'Luxembourg' 'Qatar' 'Morocco' 'Barbados' 'Viet Nam'
 'Philippines' 'Malaysia' 'Dominican Republic' 'Guyana'
 'Syrian Arab Republic' 'Slovenia' 'Samoa' 'Tunisia' 'Lebanon' 'Bahrain'
 'Jamaica' 'Iran' 'Andorra' 'Angola' 'Haiti' 'Indonesia' 'Uzbekistan'
 'Saudi Arabia' 'Kenya' 'Macedonia' 'Nigeria' 'Madagascar' 'Pakistan'
 'India' 'Moldova' 'Ghana' 'Vanuatu' 'Botswana' 'Belize' 'Mauritius'
 'Kosovo' 'Uganda' 'Liechtenstein' 'Mozambique' 'Oman' 'Sri Lanka'
 'Montenegro' 'Mongolia' 'Georgia' 'Zambia' 'Grenada' 'Algeria' 'Iraq'
 'Senegal' 'Trinidad and Tobago' 'Solomon Islands' 'Saint Lucia' 'Fiji'
 'Bahamas' 'Albania' 'Palau' 'Bangladesh' 'Sudan' 'Antigua and Barbuda'
 'Togo' 'Micronesia' 'Bhutan' 'Cameroon' 'Azerbaijan' 'Yemen' 'Nepal'
 'Saint Vincent/Grenadines' 'Armenia' 'Papua New Guinea' 'Tanzania'
 'Libya' 'Cambodia']

['Oceania' 'North America' 'Europe' 'South America' 'Asia' 'Africa']

Fixing the 'Age' attribute

In [278]:
df['age'] = df['age'].str.replace('Age', '').str.strip()
df['age'] = df['age'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   place          108596 non-null  int64
 1   country        108596 non-null  object
 2   continent      108596 non-null  object
 3   age            108596 non-null  int32
 4   affiliate      93534 non-null   object
 5   height_weight  50324 non-null   object
 6   points         108596 non-null  int64
 7   21.1           108596 non-null  object
 8   21.1 time      8347 non-null    object
 9   21.2           108596 non-null  object
 10  21.2 time      50688 non-null   object
 11  21.3           108596 non-null  object
 12  21.3 time      8208 non-null    object
 13  21.4           108596 non-null  object
 14  weight         80314 non-null   object
 15  full_name      108596 non-null  object
dtypes: int32(1), int64(2), object(13)
memory usage: 13.7+ MB

In [279]:
df.head()

,place,country,continent,age,affiliate,height_weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name
0,1,Australia,Oceania,27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey
1,2,United States,North America,17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary
2,3,Australia,Oceania,31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders
3,4,United States,North America,32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell
4,5,United States,North America,17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien

Filling empty values in the 'affiliate' attribute

In [280]:
df['affiliate'] = df['affiliate'].fillna('Unknown')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   place          108596 non-null  int64
 1   country        108596 non-null  object
 2   continent      108596 non-null  object
 3   age            108596 non-null  int32
 4   affiliate      108596 non-null  object
 5   height_weight  50324 non-null   object
 6   points         108596 non-null  int64
 7   21.1           108596 non-null  object
 8   21.1 time      8347 non-null    object
 9   21.2           108596 non-null  object
 10  21.2 time      50688 non-null   object
 11  21.3           108596 non-null  object
 12  21.3 time      8208 non-null    object
 13  21.4           108596 non-null  object
 14  weight         80314 non-null   object
 15  full_name      108596 non-null  object
dtypes: int32(1), int64(2), object(13)
memory usage: 13.7+ MB

Now we need to split 'height_weight' column to 'height' and 'weight' columns and normalize measures

In [281]:
df[['height_cm', 'weight_kg']] = df['height_weight'].str.split('|', expand = True)
df.drop('height_weight', axis = 1, inplace = True)
df.head()

,place,country,continent,age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163 cm,58 kg
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,64 in,140 lb
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162 cm,158 lb
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,62 in,132 lb
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,63 in,145 lb

In [282]:
df['height_cm'] = df['height_cm'].apply(lambda x : round(float(str(x).strip().split(' ')[0]) * 2.54, 0) if 'in' in str(x) else str(x).strip().split(' ')[0])
df['weight_kg'] = df['weight_kg'].apply(lambda x : round(float(str(x).strip().split(' ')[0]) * 0.45359237, 0) if 'lb' in str(x) else str(x).strip().split(' ')[0])

In [283]:
df.head()

,place,country,continent,age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163,58
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,163.0,64.0
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162,72.0
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,157.0,60.0
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,160.0,66.0

In [284]:
df['height_cm'] = df['height_cm'].replace(['nan', 'None'], np.nan)
df['weight_kg'] = df['weight_kg'].replace(['nan', 'None'], np.nan)

df['height_cm'] = df['height_cm'].fillna(-1)
df['weight_kg'] = df['weight_kg'].fillna(-1)

df['height_cm'] = df['height_cm'].astype(int)
df['weight_kg'] = df['weight_kg'].astype(int)

df.head()

,place,country,continent,age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163,58
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,163,64
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162,72
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,157,60
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,160,66

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   place      108596 non-null  int64
 1   country    108596 non-null  object
 2   continent  108596 non-null  object
 3   age        108596 non-null  int32
 4   affiliate  108596 non-null  object
 5   points     108596 non-null  int64
 6   21.1       108596 non-null  object
 7   21.1 time  8347 non-null    object
 8   21.2       108596 non-null  object
 9   21.2 time  50688 non-null   object
 10  21.3       108596 non-null  object
 11  21.3 time  8208 non-null    object
 12  21.4       108596 non-null  object
 13  weight     80314 non-null   object
 14  full_name  108596 non-null  object
 15  height_cm  108596 non-null  int32
 16  weight_kg  108596 non-null  int32
dtypes: int32(3), int64(2), object(12)
memory usage: 13.7+ MB