In [153]:
import pandas as pd
import numpy as np

df = pd.read_csv('women_open_21.1.csv')
df.head()

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108600 entries, 0 to 108599
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         108600 non-null  int64
 1   first_name         108599 non-null  object
 2   lastname           108597 non-null  object
 3   Placing            108600 non-null  int64
 4   country            108600 non-null  object
 5   continent          108600 non-null  object
 6   Age                108600 non-null  object
 7   affiliate          93538 non-null   object
 8   Height and Weight  50325 non-null   object
 9   points             108600 non-null  int64
 10  21.1               108600 non-null  object
 11  21.1 time          8349 non-null    object
 12  21.2               108600 non-null  object
 13  21.2 time          50690 non-null   object
 14  21.3               108600 non-null  object
 15  21.3 time          8209 non-null    object
 16  21.4               108600 non-null  object
 17  weight             80318 non-null   object
dtypes: int64(3), object(15)
memory usage: 14.9+ MB

# Data Preprocessing

First we need to drop 'Unnamed: 0' column because it's doesn't make any sense :)

In [155]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [156]:
df.head()

,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.

Now we need to do some work with the 'first_name' and the 'lastname' columns. Let's combine them to one 'full_name' column and convert its case to titlecase

In [157]:
df['full_name'] = df['first_name'] + ' ' + df['lastname']
df['full_name'] = df['full_name'].str.title()

df.drop(['first_name', 'lastname'], axis = 1, inplace = True)

In [158]:
df.head()

,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name
0,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey
1,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary
2,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders
3,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell
4,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien

In [159]:
print('NaN count in the full_name attribute:', df['full_name'].isnull().sum())
df.drop(df['full_name'].index[df['full_name'].isnull()], axis = 0, inplace = True)

NaN count in the full_name attribute: 4

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Placing            108596 non-null  int64
 1   country            108596 non-null  object
 2   continent          108596 non-null  object
 3   Age                108596 non-null  object
 4   affiliate          93534 non-null   object
 5   Height and Weight  50324 non-null   object
 6   points             108596 non-null  int64
 7   21.1               108596 non-null  object
 8   21.1 time          8347 non-null    object
 9   21.2               108596 non-null  object
 10  21.2 time          50688 non-null   object
 11  21.3               108596 non-null  object
 12  21.3 time          8208 non-null    object
 13  21.4               108596 non-null  object
 14  weight             80314 non-null   object
 15  full_name          108596 non-null  object
dtypes: int64(2), object(14)
memory usage: 14.1+ MB

Now we need to rename some columns :)

In [161]:
df = df.rename(columns={'Placing' : 'place', 'Age' : 'age', 'Height and Weight' : 'height_weight'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   place          108596 non-null  int64
 1   country        108596 non-null  object
 2   continent      108596 non-null  object
 3   age            108596 non-null  object
 4   affiliate      93534 non-null   object
 5   height_weight  50324 non-null   object
 6   points         108596 non-null  int64
 7   21.1           108596 non-null  object
 8   21.1 time      8347 non-null    object
 9   21.2           108596 non-null  object
 10  21.2 time      50688 non-null   object
 11  21.3           108596 non-null  object
 12  21.3 time      8208 non-null    object
 13  21.4           108596 non-null  object
 14  weight         80314 non-null   object
 15  full_name      108596 non-null  object
dtypes: int64(2), object(14)
memory usage: 14.1+ MB

Let's check values of the country and the continent attributes

In [162]:
print(df.country.unique())
print()
print(df.continent.unique())

['Australia' 'United States' 'Ireland' 'Spain' 'Norway' 'Poland' 'Iceland'
 'Canada' 'Brazil' 'Argentina' 'Mexico' 'New Zealand' 'Slovakia' 'Sweden'
 'Belgium' 'Korea, Republic of' 'Italy' 'Hungary' 'France' 'Japan'
 'Russian Federation' 'United Kingdom' 'Venezuela' 'Finland' 'Colombia'
 'South Africa' 'Netherlands' 'Paraguay' 'Switzerland' 'Germany'
 'Czech Republic' 'Greece' 'Denmark' 'China' 'Peru' 'Chile' 'Portugal'
 'Malta' 'Romania' 'Latvia' 'Ukraine' 'Bulgaria' 'Israel' 'Nicaragua'
 'Zimbabwe' 'Austria' 'Turkey' 'Kazakhstan' 'United Arab Emirates'
 'Honduras' 'Uruguay' 'Costa Rica' 'Egypt' 'Bosnia and Herzegovina'
 'Estonia' 'Thailand' 'Bolivia' 'Belarus' 'Croatia' 'Cyprus' 'Jordan'
 'Ecuador' 'Guatemala' 'Namibia' 'Lithuania' 'Palestinian Territory'
 'Panama' 'El Salvador' 'Kuwait' 'Suriname' 'Brunei Darussalam' 'Serbia'
 'Singapore' 'Luxembourg' 'Qatar' 'Morocco' 'Barbados' 'Viet Nam'
 'Philippines' 'Malaysia' 'Dominican Republic' 'Guyana'
 'Syrian Arab Republic' 'Slovenia' 'Samoa' 'Tunisia' 'Lebanon' 'Bahrain'
 'Jamaica' 'Iran' 'Andorra' 'Angola' 'Haiti' 'Indonesia' 'Uzbekistan'
 'Saudi Arabia' 'Kenya' 'Macedonia' 'Nigeria' 'Madagascar' 'Pakistan'
 'India' 'Moldova' 'Ghana' 'Vanuatu' 'Botswana' 'Belize' 'Mauritius'
 'Kosovo' 'Uganda' 'Liechtenstein' 'Mozambique' 'Oman' 'Sri Lanka'
 'Montenegro' 'Mongolia' 'Georgia' 'Zambia' 'Grenada' 'Algeria' 'Iraq'
 'Senegal' 'Trinidad and Tobago' 'Solomon Islands' 'Saint Lucia' 'Fiji'
 'Bahamas' 'Albania' 'Palau' 'Bangladesh' 'Sudan' 'Antigua and Barbuda'
 'Togo' 'Micronesia' 'Bhutan' 'Cameroon' 'Azerbaijan' 'Yemen' 'Nepal'
 'Saint Vincent/Grenadines' 'Armenia' 'Papua New Guinea' 'Tanzania'
 'Libya' 'Cambodia']

['Oceania' 'North America' 'Europe' 'South America' 'Asia' 'Africa']

Fixing the 'Age' attribute

In [163]:
df['age'] = df['age'].str.replace('Age', '').str.strip()
df['age'] = df['age'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   place          108596 non-null  int64
 1   country        108596 non-null  object
 2   continent      108596 non-null  object
 3   age            108596 non-null  int32
 4   affiliate      93534 non-null   object
 5   height_weight  50324 non-null   object
 6   points         108596 non-null  int64
 7   21.1           108596 non-null  object
 8   21.1 time      8347 non-null    object
 9   21.2           108596 non-null  object
 10  21.2 time      50688 non-null   object
 11  21.3           108596 non-null  object
 12  21.3 time      8208 non-null    object
 13  21.4           108596 non-null  object
 14  weight         80314 non-null   object
 15  full_name      108596 non-null  object
dtypes: int32(1), int64(2), object(13)
memory usage: 13.7+ MB

In [164]:
df.head()

,place,country,continent,age,affiliate,height_weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name
0,1,Australia,Oceania,27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey
1,2,United States,North America,17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary
2,3,Australia,Oceania,31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders
3,4,United States,North America,32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell
4,5,United States,North America,17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien

Filling empty values in the 'affiliate' attribute

In [165]:
df['affiliate'] = df['affiliate'].fillna('Unknown')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   place          108596 non-null  int64
 1   country        108596 non-null  object
 2   continent      108596 non-null  object
 3   age            108596 non-null  int32
 4   affiliate      108596 non-null  object
 5   height_weight  50324 non-null   object
 6   points         108596 non-null  int64
 7   21.1           108596 non-null  object
 8   21.1 time      8347 non-null    object
 9   21.2           108596 non-null  object
 10  21.2 time      50688 non-null   object
 11  21.3           108596 non-null  object
 12  21.3 time      8208 non-null    object
 13  21.4           108596 non-null  object
 14  weight         80314 non-null   object
 15  full_name      108596 non-null  object
dtypes: int32(1), int64(2), object(13)
memory usage: 13.7+ MB

Now we need to split 'height_weight' column to 'height' and 'weight' columns and normalize measures

In [166]:
df[['height_cm', 'weight_kg']] = df['height_weight'].str.split('|', expand = True)
df.drop('height_weight', axis = 1, inplace = True)
df.head()

,place,country,continent,age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163 cm,58 kg
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,64 in,140 lb
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162 cm,158 lb
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,62 in,132 lb
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,63 in,145 lb

In [167]:
df['height_cm'] = df['height_cm'].apply(lambda x : round(float(str(x).strip().split(' ')[0]) * 2.54, 0) if 'in' in str(x) else str(x).strip().split(' ')[0])
df['weight_kg'] = df['weight_kg'].apply(lambda x : round(float(str(x).strip().split(' ')[0]) * 0.45359237, 0) if 'lb' in str(x) else str(x).strip().split(' ')[0])

In [168]:
df.head()

,place,country,continent,age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163,58
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,163.0,64.0
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162,72.0
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,157.0,60.0
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,160.0,66.0

In [169]:
df['height_cm'] = df['height_cm'].replace(['nan', 'None'], np.nan)
df['weight_kg'] = df['weight_kg'].replace(['nan', 'None'], np.nan)

df['height_cm'] = df['height_cm'].fillna(-1)
df['weight_kg'] = df['weight_kg'].fillna(-1)

df['height_cm'] = df['height_cm'].astype(int)
df['weight_kg'] = df['weight_kg'].astype(int)

df.head()

,place,country,continent,age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163,58
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,163,64
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162,72
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,157,60
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,160,66

Let's fix all problems with 21.1, 21.2, 21.3 and 21.4 attributes

In [170]:
print(df['21.1 time'].unique())
print('Count of NaN values:', df['21.1 time'].isna().sum())

df.rename(columns={'21.1 time' : '21.1 reps', '21.2 time' : '21.2 reps', '21.3 time' : '21.3 reps'}, inplace=True)

['605 reps' nan]
Count of NaN values: 100249

In [171]:
df.head(10)

,place,country,continent,age,affiliate,points,21.1,21.1 reps,21.2,21.2 reps,21.3,21.3 reps,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163,58
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,163,64
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162,72
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,157,60
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,160,66
5,6,Ireland,Europe,31,Boundary CrossFit,232,171st (14:07),605 reps,9th (9:24),225 reps,27th (8:46),180 reps,25th (224 lbs),Weight lifted: 224 lbs.,Emma Mcquaid,165,64
6,7,United States,North America,27,CrossFit Invictus,238,114th (13:44),605 reps,83rd (10:16),225 reps,37th (9:00),180 reps,4th (236 lbs),Weight lifted: 236 lbs.,Dani Speegle,168,76
7,8,Spain,Europe,27,CrossFit 4 Friends,241,110th (13:43),605 reps,15th (9:34),225 reps,62nd (9:10),180 reps,54th (216 lbs),Weight lifted: 216 lbs.,Elena Carratala Sanahuja,-1,-1
8,9,United States,North America,26,CrossFit Trivium,243,26th (12:22),605 reps,97th (10:21),225 reps,18th (8:40),180 reps,102nd (211 lbs),Weight lifted: 211 lbs.,Brooke Wells,168,68
9,10,United States,North America,20,CrossFit Mayhem,307,8th (11:33),605 reps,34th (9:50),225 reps,5th (7:52),180 reps,260th (202 lbs),Weight lifted: 202 lbs.,Haley Adams,170,64

In [172]:
cols = ['21.1 reps', '21.2 reps', '21.3 reps']
for c in cols:
    df[c] = df[c].str.replace('reps', '')
df.head(30)

,place,country,continent,age,affiliate,points,21.1,21.1 reps,21.2,21.2 reps,21.3,21.3 reps,21.4,weight,full_name,height_cm,weight_kg
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605,11th (9:26),225,1st (7:37),180,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163,58
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605,1st (8:51),225,14th (8:28),180,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,163,64
2,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605,23rd (9:42),225,20th (8:41),180,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162,72
3,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605,21st (9:41),225,4th (7:47),180,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,157,60
4,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605,163rd (10:38),225,2nd (7:38),180,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,160,66
5,6,Ireland,Europe,31,Boundary CrossFit,232,171st (14:07),605,9th (9:24),225,27th (8:46),180,25th (224 lbs),Weight lifted: 224 lbs.,Emma Mcquaid,165,64
6,7,United States,North America,27,CrossFit Invictus,238,114th (13:44),605,83rd (10:16),225,37th (9:00),180,4th (236 lbs),Weight lifted: 236 lbs.,Dani Speegle,168,76
7,8,Spain,Europe,27,CrossFit 4 Friends,241,110th (13:43),605,15th (9:34),225,62nd (9:10),180,54th (216 lbs),Weight lifted: 216 lbs.,Elena Carratala Sanahuja,-1,-1
8,9,United States,North America,26,CrossFit Trivium,243,26th (12:22),605,97th (10:21),225,18th (8:40),180,102nd (211 lbs),Weight lifted: 211 lbs.,Brooke Wells,168,68
9,10,United States,North America,20,CrossFit Mayhem,307,8th (11:33),605,34th (9:50),225,5th (7:52),180,260th (202 lbs),Weight lifted: 202 lbs.,Haley Adams,170,64
10,11,Norway,Europe,25,CrossFit Trondheim,320,12th (11:45),605,31st (9:48),225,28th (8:48),180,249th (203 lbs),Weight lifted: 203 lbs.,Matilde Garnes,174,68
11,12,Poland,Europe,22,C23 CrossFit,330,174th (14:08),605,7th (9:18),225,120th (9:41),180,29th (221 lbs),Weight lifted: 221 lbs.,Gabriela Migała,170,75
12,13,United States,North America,25,CrossFit Culmination,363,3rd (11:05),605,190th (10:43),225,64th (9:11),180,106th (210 lbs),Weight lifted: 210 lbs.,Danielle Brandon,170,68
13,14,Iceland,Europe,28,CrossFit New England,376,29th (12:30),605,63rd (10:08),225,109th (9:36),180,175th (206 lbs),Weight lifted: 206 lbs.,Katrin Tanja Davidsdottir,169,68
14,15,Canada,North America,16,CrossFit PSC,381,78th (13:24),605,91st (10:19),225,157th (9:56),180,55th (216 lbs),Weight lifted: 216 lbs.,Emma Lawson,-1,-1
15,16,United States,North America,32,CrossFit Culmination,398,52nd (13:05),605,21st (9:41),225,6th (7:56),180,319th (200 lbs),Weight lifted: 200 lbs.,Kari Pearce,160,63
16,17,Norway,Europe,35,CrossFit Oslo,414,19th (12:02),605,2nd (8:58),225,10th (8:10),180,383rd (198 lbs),Weight lifted: 198 lbs.,Kristin Holte,162,59
17,18,Brazil,South America,24,CrossFit Floripa,458,296th (14:42),605,17th (9:35),225,40th (9:01),180,105th (210 lbs),Weight lifted: 210 lbs.,Amanda Fusuma,153,56
18,19,United States,North America,32,CrossFit Mayhem,460,325th (14:48),605,61st (10:06),225,46th (9:04),180,28th (221 lbs),Weight lifted: 221 lbs.,Andrea Nisler,168,70
19,20,United States,North America,29,CrossFit New England,463,196th (14:18),605,99th (10:23),225,152nd (9:54),180,16th (225 lbs),Weight lifted: 225 lbs.,Amanda Barnhart,170,73
20,21,United States,North America,27,CrossFit Culmination,464,121st (13:47),605,46th (10:00),225,3rd (7:40),180,294th (201 lbs),Weight lifted: 201 lbs.,Bethany Shadburne,163,65
21,22,Canada,North America,29,CrossFit Pro1,479,28th (12:25),605,171st (10:40),225,18th (8:40),180,262nd (202 lbs),Weight lifted: 202 lbs.,Chloe Gauvin-David,170,66
22,23,Brazil,South America,30,Cavaleiros CrossFit,498,260th (14:34),605,91st (10:19),225,16th (8:34),180,131st (208 lbs),Weight lifted: 208 lbs.,Larissa Cunha,153,62
23,24,Canada,North America,33,Ocean State CrossFit,522,284th (14:39),605,99th (10:23),225,50th (9:06),180,89th (212 lbs),Weight lifted: 212 lbs.,Amy Morton,163,70
24,25,Argentina,South America,23,Unknown,528,34th (12:48),605,264th (10:55),225,139th (9:48),180,91st (212 lbs),Weight lifted: 212 lbs.,Sasha Nievas,156,59
25,26,Canada,North America,31,CrossFit Colosseum,538,432nd (597 reps),NaN,3rd (9:02),225,50th (9:06),180,53rd (216 lbs),Weight lifted: 216 lbs.,Carolyne Prevost,160,66
26,27,Mexico,North America,17,Unknown,539,191st (14:17),605,228th (10:50),225,114th (9:39),180,6th (232 lbs),Weight lifted: 232 lbs.,Paulina Haro,156,63
27,28,Canada,North America,33,CrossFit 514,567,89th (13:29),605,119th (10:29),225,37th (9:00),180,322nd (200 lbs),Weight lifted: 200 lbs.,Carol-Ann Reason-Thibault,164,64
28,29,Iceland,Europe,29,CrossFit Zug,573,31st (12:39),605,59th (10:05),225,98th (9:32),180,385th (198 lbs),Weight lifted: 198 lbs.,Thuridur Erla Helgadottir,164,59
29,30,United States,North America,31,CrossFit Undivided,588,269th (14:36),605,20th (9:38),225,36th (8:56),180,263rd (202 lbs),Weight lifted: 202 lbs.,Kristine Best,160,63

In [173]:
df = df.rename(columns={'21.1' : '21.1 place', '21.2' : '21.2 place', '21.3' : '21.3 place', '21.4' : '21.4 place'})

df['21.1 reps'] = df['21.1 reps'].fillna(df['21.1 place'].str.split('(').str[1].str.replace('reps)',''))
df['21.1 time'] = df['21.1 place'].str.split('(').str[1].str.replace(')', '')
df['21.1 time'] = df['21.1 time'].apply(lambda x : np.nan if ':' not in str(x) else x)
df['21.1 place'] = df['21.1 place'].str.split(' ').str[0].str.replace(r'[^\d]', '', regex=True)

df.head(30)

,place,country,continent,age,affiliate,points,21.1 place,21.1 reps,21.2 place,21.2 reps,21.3 place,21.3 reps,21.4 place,weight,full_name,height_cm,weight_kg,21.1 time
0,1,Australia,Oceania,27,CrossFit East Nashville,26,6,605,11th (9:26),225,1st (7:37),180,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey,163,58,11:21
1,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14,605,1st (8:51),225,14th (8:28),180,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary,163,64,11:48
2,3,Australia,Oceania,31,CrossFit Carv,111,63,605,23rd (9:42),225,20th (8:41),180,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders,162,72,13:11
3,4,United States,North America,32,CrossFit Polaris,189,121,605,21st (9:41),225,4th (7:47),180,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell,157,60,13:47
4,5,United States,North America,17,Lion Brave CrossFit,211,4,605,163rd (10:38),225,2nd (7:38),180,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien,160,66,11:06
5,6,Ireland,Europe,31,Boundary CrossFit,232,171,605,9th (9:24),225,27th (8:46),180,25th (224 lbs),Weight lifted: 224 lbs.,Emma Mcquaid,165,64,14:07
6,7,United States,North America,27,CrossFit Invictus,238,114,605,83rd (10:16),225,37th (9:00),180,4th (236 lbs),Weight lifted: 236 lbs.,Dani Speegle,168,76,13:44
7,8,Spain,Europe,27,CrossFit 4 Friends,241,110,605,15th (9:34),225,62nd (9:10),180,54th (216 lbs),Weight lifted: 216 lbs.,Elena Carratala Sanahuja,-1,-1,13:43
8,9,United States,North America,26,CrossFit Trivium,243,26,605,97th (10:21),225,18th (8:40),180,102nd (211 lbs),Weight lifted: 211 lbs.,Brooke Wells,168,68,12:22
9,10,United States,North America,20,CrossFit Mayhem,307,8,605,34th (9:50),225,5th (7:52),180,260th (202 lbs),Weight lifted: 202 lbs.,Haley Adams,170,64,11:33
10,11,Norway,Europe,25,CrossFit Trondheim,320,12,605,31st (9:48),225,28th (8:48),180,249th (203 lbs),Weight lifted: 203 lbs.,Matilde Garnes,174,68,11:45
11,12,Poland,Europe,22,C23 CrossFit,330,174,605,7th (9:18),225,120th (9:41),180,29th (221 lbs),Weight lifted: 221 lbs.,Gabriela Migała,170,75,14:08
12,13,United States,North America,25,CrossFit Culmination,363,3,605,190th (10:43),225,64th (9:11),180,106th (210 lbs),Weight lifted: 210 lbs.,Danielle Brandon,170,68,11:05
13,14,Iceland,Europe,28,CrossFit New England,376,29,605,63rd (10:08),225,109th (9:36),180,175th (206 lbs),Weight lifted: 206 lbs.,Katrin Tanja Davidsdottir,169,68,12:30
14,15,Canada,North America,16,CrossFit PSC,381,78,605,91st (10:19),225,157th (9:56),180,55th (216 lbs),Weight lifted: 216 lbs.,Emma Lawson,-1,-1,13:24
15,16,United States,North America,32,CrossFit Culmination,398,52,605,21st (9:41),225,6th (7:56),180,319th (200 lbs),Weight lifted: 200 lbs.,Kari Pearce,160,63,13:05
16,17,Norway,Europe,35,CrossFit Oslo,414,19,605,2nd (8:58),225,10th (8:10),180,383rd (198 lbs),Weight lifted: 198 lbs.,Kristin Holte,162,59,12:02
17,18,Brazil,South America,24,CrossFit Floripa,458,296,605,17th (9:35),225,40th (9:01),180,105th (210 lbs),Weight lifted: 210 lbs.,Amanda Fusuma,153,56,14:42
18,19,United States,North America,32,CrossFit Mayhem,460,325,605,61st (10:06),225,46th (9:04),180,28th (221 lbs),Weight lifted: 221 lbs.,Andrea Nisler,168,70,14:48
19,20,United States,North America,29,CrossFit New England,463,196,605,99th (10:23),225,152nd (9:54),180,16th (225 lbs),Weight lifted: 225 lbs.,Amanda Barnhart,170,73,14:18
20,21,United States,North America,27,CrossFit Culmination,464,121,605,46th (10:00),225,3rd (7:40),180,294th (201 lbs),Weight lifted: 201 lbs.,Bethany Shadburne,163,65,13:47
21,22,Canada,North America,29,CrossFit Pro1,479,28,605,171st (10:40),225,18th (8:40),180,262nd (202 lbs),Weight lifted: 202 lbs.,Chloe Gauvin-David,170,66,12:25
22,23,Brazil,South America,30,Cavaleiros CrossFit,498,260,605,91st (10:19),225,16th (8:34),180,131st (208 lbs),Weight lifted: 208 lbs.,Larissa Cunha,153,62,14:34
23,24,Canada,North America,33,Ocean State CrossFit,522,284,605,99th (10:23),225,50th (9:06),180,89th (212 lbs),Weight lifted: 212 lbs.,Amy Morton,163,70,14:39
24,25,Argentina,South America,23,Unknown,528,34,605,264th (10:55),225,139th (9:48),180,91st (212 lbs),Weight lifted: 212 lbs.,Sasha Nievas,156,59,12:48
25,26,Canada,North America,31,CrossFit Colosseum,538,432,597,3rd (9:02),225,50th (9:06),180,53rd (216 lbs),Weight lifted: 216 lbs.,Carolyne Prevost,160,66,NaN
26,27,Mexico,North America,17,Unknown,539,191,605,228th (10:50),225,114th (9:39),180,6th (232 lbs),Weight lifted: 232 lbs.,Paulina Haro,156,63,14:17
27,28,Canada,North America,33,CrossFit 514,567,89,605,119th (10:29),225,37th (9:00),180,322nd (200 lbs),Weight lifted: 200 lbs.,Carol-Ann Reason-Thibault,164,64,13:29
28,29,Iceland,Europe,29,CrossFit Zug,573,31,605,59th (10:05),225,98th (9:32),180,385th (198 lbs),Weight lifted: 198 lbs.,Thuridur Erla Helgadottir,164,59,12:39
29,30,United States,North America,31,CrossFit Undivided,588,269,605,20th (9:38),225,36th (8:56),180,263rd (202 lbs),Weight lifted: 202 lbs.,Kristine Best,160,63,14:36

In [174]:
df['21.1 place'] = pd.to_numeric(df['21.1 place'], errors='coerce')
df['21.1 reps'] = pd.to_numeric(df['21.1 reps'], errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 18 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   place       108596 non-null  int64
 1   country     108596 non-null  object
 2   continent   108596 non-null  object
 3   age         108596 non-null  int32
 4   affiliate   108596 non-null  object
 5   points      108596 non-null  int64
 6   21.1 place  108596 non-null  int64
 7   21.1 reps   66272 non-null   float64
 8   21.2 place  108596 non-null  object
 9   21.2 reps   50688 non-null   object
 10  21.3 place  108596 non-null  object
 11  21.3 reps   8208 non-null    object
 12  21.4 place  108596 non-null  object
 13  weight      80314 non-null   object
 14  full_name   108596 non-null  object
 15  height_cm   108596 non-null  int32
 16  weight_kg   108596 non-null  int32
 17  21.1 time   8347 non-null    object
dtypes: float64(1), int32(3), int64(3), object(11)
memory usage: 14.5+ MB

In [176]:
df['21.1 reps'].isna().sum()

42324