In [10]:
import pandas as pd

df = pd.read_csv('women_open_21.1.csv')
df.head()

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108600 entries, 0 to 108599
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         108600 non-null  int64
 1   first_name         108599 non-null  object
 2   lastname           108597 non-null  object
 3   Placing            108600 non-null  int64
 4   country            108600 non-null  object
 5   continent          108600 non-null  object
 6   Age                108600 non-null  object
 7   affiliate          93538 non-null   object
 8   Height and Weight  50325 non-null   object
 9   points             108600 non-null  int64
 10  21.1               108600 non-null  object
 11  21.1 time          8349 non-null    object
 12  21.2               108600 non-null  object
 13  21.2 time          50690 non-null   object
 14  21.3               108600 non-null  object
 15  21.3 time          8209 non-null    object
 16  21.4               108600 non-null  object
 17  weight             80318 non-null   object
dtypes: int64(3), object(15)
memory usage: 14.9+ MB

# Data Preprocessing

First we need to drop 'Unnamed: 0' column because it's doesn't make any sense :)

In [12]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [13]:
df.head()

,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.

Now we need to do some work with the 'first_name' and the 'lastname' columns. Let's combine them to one 'full_name' column and change its case to titlecase

In [14]:
df['full_name'] = df['first_name'] + ' ' + df['lastname']
df['full_name'] = df['full_name'].str.title()

df.drop(['first_name', 'lastname'], axis = 1, inplace = True)

In [15]:
df.head()

,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,full_name
0,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,Tia-Clair Toomey
1,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,Emma Cary
2,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,Kara Saunders
3,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,Kristi Eramo O'Connell
4,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,Mallory O'Brien

In [19]:
print('NaN count in the full_name attribute:', df['full_name'].isnull().sum())

df.drop(df['full_name'].index[df['full_name'].isnull()], axis = 0, inplace = True)

NaN count in the full_name attribute: 4

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108596 entries, 0 to 108599
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Placing            108596 non-null  int64
 1   country            108596 non-null  object
 2   continent          108596 non-null  object
 3   Age                108596 non-null  object
 4   affiliate          93534 non-null   object
 5   Height and Weight  50324 non-null   object
 6   points             108596 non-null  int64
 7   21.1               108596 non-null  object
 8   21.1 time          8347 non-null    object
 9   21.2               108596 non-null  object
 10  21.2 time          50688 non-null   object
 11  21.3               108596 non-null  object
 12  21.3 time          8208 non-null    object
 13  21.4               108596 non-null  object
 14  weight             80314 non-null   object
 15  full_name          108596 non-null  object
dtypes: int64(2), object(14)
memory usage: 14.1+ MB